* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(dense-jungle-canopy-with-vibrant-varied-flora-hiding-mysterious-creatures-within-its-shadows.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: #fff;
    font-size: 46px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 27px;
    font-style: italic;
    text-decoration: underline;
    transition: 0.4s ease-in-out;
}

.logo:hover {
    color: #309127;
}

.menu {
    width: 400px;
    float: right;
    height: 70px;
}

ul {
    float: right ;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none; 
    margin-left: 64px;
    margin-top: 30px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color:#309127;
}

.cont {
    width: 80%;
    height: 85%;
    background: linear-gradient(to top, rgba(0,0,0,0.7)50%, rgba(0,0,0,0.7)50%);
    position: absolute;
    top: 15%;
    left: 10%;
    padding: 20px;
    letter-spacing: 2px;
    border-radius: 6px;
}

.cont h1, p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.cont span, h2 {
    font-family: "Major Mono Display", monospace;
    color: #32d623;
    text-decoration: underline;
}

.cont h3 {
    color: #32d623;
    text-decoration: underline;
}

#spand {
    text-decoration: none;
}

#whhat {
    font-size: 30px;
    font-weight: bold;
    color: #309127;
    text-decoration: underline;
    transition: 0.4s ease-in-out;
}

#whhat:hover {
    color: #fff;
}